livestock_geotiff2010/*
livestock_geotiff2015/*
livestock_geotiff2020/*
livestock_netcdf/*
livestock_regridded/*

!livestock_geotiff2010/**/*.py
!livestock_geotiff2010/**/*.sh

!livestock_geotiff2015/**/*.py
!livestock_geotiff2015/**/*.sh

!livestock_geotiff2020/**/*.py
!livestock_geotiff2020/**/*.sh

!livestock_netcdf/**/*.py
!livestock_netcdf/**/*.sh

!livestock_regridded/**/*.py
!livestock_regridded/**/*.sh

*.out
